﻿<!DOCTYPE html>
<html>
<head>
    <link  type="text/css" rel="stylesheet" href="~/css/Bootstrap-5.0.2/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootstrap-vue.css">
    <link rel="stylesheet" href="~/css/bootstrap-vue-compatibility-fixes.css">

    <script src="~/js/vue.js"></script>
    <script src="~/js/bootstrap-vue.js"></script>
    
</head>
<body>
    <h1>This is a heading</h1>
    <p>This is a paragraph.</p>

    <div id="app">
        <b-button variant="outline-primary">Button</b-button>
        {{testWord}}
    </div>

    <script>
        (function () {
            new Vue({
                el: '#app',
                data: {
                    testWord: "Test 1234",
                }
            })
        })();
    </script>
</body>
</html>